.root {
    -fx-background-color: #F3F3F3;
}

.card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20,0.2,0,5);
}

.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.input {
    -fx-background-radius: 4;
    -fx-padding: 0 35 0 10;
}

.primary-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.primary-button:disabled{
    -fx-background-color: #bdbdbd;
    -fx-text-fill: white;
}

.primary-button{
    -fx-background-color: #1976d2;;
}

.link {
    -fx-text-fill: black;
}

.small-label{
    -fx-font-size:12px;
    -fx-alignment: center-left;
}

.inside-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
    -fx-cursor: hand;
}


.error-label {
    -fx-background-color: #e53935;
    -fx-text-fill: white;
    -fx-padding: 12 25 12 25;
    -fx-background-radius: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-translate-y: -20;
}