.root {
    -fx-background-color: #F3F3F3;
}

.card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20,0.2,0,5);
}

.back-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.back-button:hover {
    -fx-background-color: #e4e4e4;
}

.title {
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.input {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #999999;
    -fx-background-radius: 4;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 4;
    -fx-padding: 8;
}

.input:focused {
    -fx-border-color: #4A90E2;
    -fx-border-width: 2;
}

.primary-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.primary-button:disabled{
    -fx-background-color: #bdbdbd;
    -fx-text-fill: white;
}

.primary-button{
    -fx-background-color: #1976d2;;
}

.primary-button:hover {
    -fx-background-color: #222222;
}

.link {
    -fx-text-fill: black;
}

.small-label {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
}

.inside-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}